<!--<nav class="navbar nav-custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img alt="Brand" class="logo" src="assets/images/logo.png">
      </a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
                <li class="nav-item"><a href="#">Главная</a><hr></li>
                <li class="nav-item"><a href="#">Библиотека</a><hr></li>
                <li class="nav-item">
                    <div class="dropdown"><img src="..." alt="..." class="img-circle">
                        <a class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{nickname}}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                </li>
            </ul>
      </div>
    </div>
</nav>-->
<nav class="navbar nav-custom navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img alt="Brand" class="logo" src="assets/images/logo.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav nav-buttons">
      <li class="nav-item active gxtr-nav-item">
        <a class="nav-link" href="#">Главная</a>
        <hr>
      </li>
      <li class="nav-item  gxtr-nav-item">
        <a class="nav-link" href="#">Библиотека</a>
        <hr>
      </li>
      <li ngbDropdown class="nav-item dropdown ml-auto gxtr-nav-item float-right">
        <a  class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" ngbDropdownToggle>{{nickname}}</a>
        <hr>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right gxtr-dropdown-menu" aria-labelledby="dropdown01">
          <button class="dropdown-item">Профиль</button>
          <button class="dropdown-item">Настройки</button>
          <hr>
          <button class="dropdown-item">Выйти</button>
        </div>
      </li>
    </ul>
  </div>
</nav>
