@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$primary: rgba(13, 12, 18, 1);
$fadeout: rgba(10, 10, 15, 0.65);
$accent:  rgba(116, 149, 144, 0.5);
$halo: rgba(170, 207, 202, 0.5);

.nav-custom {
  height: auto;
  background: #0D0C12;

  background-image: linear-gradient(
                  to bottom,
                  $accent 10%,
                  $fadeout 40%,
                  $primary 100%);
  border: #0D0C12;
}

.logo {
  height: 50px;
  margin: 0;
  padding: 0;
}

.nav-buttons li.gxtr-nav-item a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Roboto', 'sans-serif';
  background: transparent;
}

.nav-buttons li.gxtr-nav-item:hover a {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e66181, 0 0 40px #e63f4c, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}


.nav-buttons li.gxtr-nav-item hr {
  border: 0;
  height: 1px;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, $fadeout, $accent, $fadeout);
  transition: height .1s ease;
}

.nav-buttons li.gxtr-nav-item:hover hr{
  height: 1.5px;
  background-image: linear-gradient(to right, $fadeout, $halo, $fadeout);
}

.gxtr-dropdown-menu {
  background: aliceblue;
  color: $primary;
}

.gxtr-dropdown-menu button:hover {
  background: $primary;
  color: aliceblue;
}

.gxtr-dropdown-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  padding-left: 25%;
  background-image: linear-gradient(to right, $halo, $halo, $halo);
}
