<div class="gxtr-card-body">
  <div class="row">
    <div class="col-4" style="min-width: 63vh">
      <div class="card-cover">
        <div class="vignette-left"></div>
        <div class="vignette-right"></div>
        <img class="img-responsive" src="assets/images/cover.jpg" alt="">
      </div>
    </div>
    <div class="col-8">
      <div class="card-info">
        <hr>
        <div>
          <h1>{{cardTitle}}</h1>
        </div>
        <div  class="description">
          <p>{{description}}</p>
        </div>
        <app-slider></app-slider>
      </div>
    </div>
  </div>
</div>
<hr>

