$primary: rgba(13, 12, 18, 1);
$fadeout: rgba(10, 10, 15, 0.65);
$accent:  rgba(116, 149, 144, 0.5);

.gxtr-card-body {
  margin-left: 2em;
  height: 88vh;
  overflow: hidden;
}

.card-cover {
  width: 100%;
  height: 100%;
  min-height: 88vh;
  min-width: 60vh;
}

.card-cover img {
  width: 100%;
  min-height: 88vh;
  min-width: 60vh;
  transition: transform .9s ease;
}

.card-cover:hover img {
  transform: scale(1.05);
}

.vignette-left {
  position: absolute;
  z-index: 1;
    left: 0;
    top: 0;
    width: 30%;
  height: 102%;
  background-image: linear-gradient(
                  to left,
                  rgba(0,0,0,0) 20%,
                  rgba(12,10,16,0.65) 80%,
                  $primary 100%);
  background-image: -moz-linear-gradient(
                  to left,
                  rgba(0,0,0,0) 20%,
                  rgba(0,0,0,0.65) 80%,
                  $primary 100%);
  background-image: -webkit-linear-gradient(
                  to left
                  rgba(0,0,0,0) 20%,
                  rgba(0,0,0,0.65) 80%,
                  $primary 100%);
}

.vignette-right {
  position: absolute;
  z-index: 1;
  right: -1%;
  top: 0;
  width: 30%;
  height: 102%;
  background-image: linear-gradient(
                  to right,
                  rgba(0,0,0,0) 20%,
                  rgba(0,0,0,0.65) 80%,
                  $primary 100%);
  background-image: -moz-linear-gradient(
                  to right,
                  rgba(0,0,0,0) 20%,
                  rgba(0,0,0,0.65) 80%,
                  $primary 100%);
  background-image: -webkit-linear-gradient(
                  to right
                  rgba(0,0,0,0) 20%,
                  rgba(0,0,0,0.65) 80%,
                  $primary 100%);
}

.card-info {
  margin-left: 5vh;
}

.description {
  margin-right: 20vh;
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, $fadeout, $accent, $fadeout);
}
