.modal-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: #17141d;
  background-color: rgba(79, 77, 95, 0.51);
  z-index: 10;
}

.modal-dialog {
  position: relative;
  margin: 13% auto; /* 15% from the top and centered */
  width: 50%;
  background-color: #17141d;
  border: 1px;
  border-radius: 10px;
  box-shadow: 0 5px 28px rgb(10, 10, 10), 0 5px 10px rgb(10, 10, 10);
  z-index: 10;
}

.modal-close {
  position: relative;
  z-index: auto;
}

.modal-dialog div {
  position: relative;
  padding-bottom: 20px;
  z-index: auto;
  width: 100%;
  height: auto;
}

.modal-dialog > div.modal-close {
  text-align: right;
}

#modal-close-button {
  position: relative;
  width: auto;
  height: auto;
  color: #e63f4c;
  background-color: transparent;
  border: none;
  z-index: auto;
  pointer-events: auto;
}

#modal-close-button:hover {
  cursor: pointer !important;
}

.modal-close {
  color: #e63f4c;
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

.bottom-buttons-block {
  text-align: left;
}

.modal-ok-button {
  margin-left: 30px;
  padding: 10px;
  width: 200px;
  color: mintcream;
  text-align: center;
  background-color: #e63f4c;
  border: none;
  border-radius: 0;
  box-shadow: 5px 5px 10px #01010f;
  z-index: auto;
  pointer-events: auto;
}

.modal-ok-button:hover {
  box-shadow: 10px 10px 11px #01010f;
  transform: scale(1.01);
  cursor: pointer;
}


