<div class="modal-container">
  <div class="modal-dialog">
    <div class="modal-close"><span id="modal-close-button" (click)="close()">&times;</span></div>
    <div><p class="modal-title">{{header}}</p></div>
    <div><p class="modal-body">{{description}}</p></div>
    <div class="bottom-buttons-block"><input class="modal-ok-button" type="button" value="Понятно"></div>
  </div>
</div>
