<p>Регистрация</p>
<div class="block-container form-group ">
  <label>Адрес электронной почты:</label>
  <input type="text" [formControl]="email">
  <label>Логин:</label>
  <input type="text" [formControl]="">
  <label>Пароль:</label>
  <input type="password" [formControl]="password">
  <input class="btn-submit" type="button" value="Сохранить">
</div>
