.btn-inline-container {
  display: inline;
}

.btn-inline-set-container button {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

@-webkit-keyframes glow {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e66181, 0 0 40px #e63f4c, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}



@-webkit-keyframes pulse {
  from {
    background-color: #fff;
    box-shadow:
      0 0 10px 10px #fff,
      0 0 15px 20px #fff,
      10px -10px 30px 22px #e66181,
      0 0 40px 25px #e63f4c,
      0 0 50px 30px #e60073
  }
  to {
    background-color: #fff;
    box-shadow:
      0 0 20px 20px #fff,
      0 0 30px 30px #ff4da6,
      -20px 20px 40px 33px #ff4da6,
      0 0 50px 35px #c270ff,
      0 0 55px 37px #657aff
  }
}


.page-loader-container {
  width: 1vh;
  height: 1vh;
  border-radius: 100%;
  text-align: center;
  vertical-align: center;
}

.page-loader {
  width: 0;
  height: 0;
  border-radius: 100%;
  vertical-align: middle;
  -webkit-animation: pulse, pulse-inner 0.5s infinite alternate;
  -moz-animation: pulse, pulse-inner 0.5s infinite alternate;
  animation: pulse 0.5s ease-in-out infinite alternate;
  border-color: transparent;
  text-align: center;
}

