<app-header *ngIf="showHeader"></app-header>
<div class="container-fluid">
  <div ngxUiLoaderBlurred blur="10"></div>
  <ngx-ui-loader [fgsTemplate]="pageLoader"></ngx-ui-loader>
  <ng-template #pageLoader>
    <div class="page-loader-container">
      <div class="page-loader">
      </div>
    </div>
  </ng-template>
  <!--По пути /reader/:id выводит компонент карточки-->
  <router-outlet></router-outlet>
</div>
