<div class="slider-wrapper">
  <div class="align-middle slider-nav-button left-slider-nav-button">
    <div class="arrow-nav arrow-nav--left">
      <span></span>
    </div>
  </div>
  <div class="align-middle slider-nav-carousel">
    <div>
      <img src="assets/images/chapter_1.jpg" alt="">
    </div>
    <div>
      <img src="assets/images/chapter_2.jpg" alt="">
    </div>
    <div>
      <img src="assets/images/chapter_3.jpg" alt="">
    </div>
  </div>
  <div class="align-middle slider-nav-button right-slider-nav-button">
    <div class="arrow-nav arrow-nav--right">
      <span></span>
    </div>
  </div>
</div>
