$primary: rgba(61, 65, 63, 0.5);
$shadow: rgba(0, 0, 0, 0.80);

.slider-wrapper {
  text-align: center;
  margin-right: 20vh;
}

.slider-wrapper div {
  display: inline-block;
  text-align: center;
}

.slider-arrow > div > a {
  vertical-align: middle;
}

.slider-nav-button {
  margin: 5px;
  background-color: $primary;
  cursor: pointer;
  width: 56px;
  height: 56px;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.9);
  border-radius: 999em;
  position: relative;
  text-align: center;
}

.arrow-nav {
  width: 100%;
  height: 100%;
  position: relative;

  $width: 3px;
  $element-size: 50px/2;
  $element-margin: 3px;

  & span,
  &:before,
  &:after {
    height: $element-size;
    width: $width;
    position: absolute;
    content: '';
    background: whitesmoke;
  }

  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }

  @each $direction in 'left', 'right' {
    &.arrow-nav--#{$direction} {
      &:after {
        @if($direction == 'left') {
          top: 24px;
        } @else {
          top: 8px;
        }
      }
      &:before {
        @if($direction == 'left') {
          top: 8px;
        } @else {
          top: 24px;
        }
      }
      &:before,
      &:after {
        #{$direction}: 30%;
      }

      & span {
        width: 0;
        height: 0;
        border-radius: 3px;
        #{$direction}: 12%;
        top: 27px;
      }

      & span,
      &:before,
      &:after {
        transition: all 0.1s 0.05s ease-in;
      }

      &:hover {
        & span {
          width: 40px;
          height: 3px;
          border-radius: 3px;
          #{$direction}: 11%;
          top: 27px;
        }
        &:before {
          transform: rotate(55deg);
        }

        &:after {
          transform: rotate(-55deg);
        }

      }
    }
  }
}

.slider-nav-carousel {
  display: inline-block;
}

.slider-nav-carousel div {
  width: 20vh;
  height: 20vh;
  margin: 1vh;
}

.slider-nav-carousel img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.1s ease-in-out;
  object-fit: cover;
  &:hover {
    border-bottom-left-radius: 100%0.5vh;
    border-bottom-right-radius: 100%0.5vh;
    border-top-left-radius: 100%0.5vh;
    border-top-right-radius: 100%0.5vh;
    transform: scale(1.1);
    z-index: 1;
  }
}
