<div class="block-container">
  <div class="form">
    <div class="material-card" id="registration_form">
      <div class="card-right-link">
        Уже зарегистрированы?&nbsp;<a (click)="signInForm()">Войти</a>
      </div>
      <div class="form-title">
        <h2>Регистрация</h2>
      </div>
      <div>
        <form #signupForm="ngForm" (ngSubmit)="submitSignup(ngxService, this)">
          <div>
            <label for="email-signup">Адрес электронной почты:</label>
            <input type="email" class="form-input form-control " id="email-signup" required [(ngModel)]="registrationModel.email" name="email">
          </div>
          <div class="form-group">
            <label for="login-signup">Логин:</label>
            <input type="text" class="form-control form-input" id="login-signup" required [(ngModel)]="registrationModel.login" name="login">
          </div>
          <div class="form-group">
            <label for="password-signup">Пароль:</label>
            <input type="password" class="form-control form-input" id="password-signup" required [(ngModel)]="registrationModel.password" name="password">
          </div>
          <div>
            <input class="btn-submit" type="submit" value="Сохранить" [disabled]="!signupForm.form.valid">
          </div>
        </form>
      </div>

    </div>
    <div class="material-card" id="additional">
      <!--<div class="card-right-link">
        Уже зарегистрированы?&nbsp;<a>Войти</a>
      </div>-->
      <div class="form-title">
        <h2>Регистрация</h2>
      </div>
    </div>
    <div class="material-card" id="authorization_form">
      <div class="align-middle slider-nav-button left-slider-nav-button" (click)="signUpForm()">
        <div class="arrow-nav arrow-nav--left">
          <span></span>
        </div>
      </div>
      <!--<div class="card-right-link">
        Уже зарегистрированы?&nbsp;<a>Войти</a>
      </div>-->
      <div class="form-title">
        <h2>Авторизация</h2>
      </div>
      <div>
        <form #signinForm="ngForm" (ngSubmit)="submitSignin(ngxService, this)">
          <div>
            <label for="email">Адрес электронной почты:</label>
            <input type="email" class="form-input form-control " id="email-signin" required [(ngModel)]="authorizationModel.email" name="email">
          </div>
          <div class="form-group">
            <label for="login">Логин:</label>
            <input type="text" class="form-control form-input" id="login-signin" required [(ngModel)]="authorizationModel.login" name="login">
          </div>
          <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="password" class="form-control form-input" id="password-signin" required [(ngModel)]="authorizationModel.password" name="password">
          </div>
          <div>
            <input class="btn-submit" type="submit" value="Войти" [disabled]="!signinForm.form.valid">
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-modal-window *ngIf="isShowModal" (isConfirmed)="closeDialog($event)" [header]="header" [description]="body"></app-modal-window>
  </div>

