//$fadeout: rgba(185, 186, 223, 0.58);
$primary: rgba(16, 14, 23, 1);

.body {
  overflow: hidden;
}
.block-container {
  width: 100%;
  height: 90vh;
  background: $primary;
}

.form {
  display: block;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.form-title {
  text-align: center;
  padding-bottom: 20px;
}

.material-card {
  position: absolute;
  height: 720px;
  margin-top: 9vh;
  padding: 50px;
  width: 600px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: 0 5px 28px rgb(10, 10, 10), 0 5px 20px rgb(10, 10, 10);
  overflow: hidden;
  transform-origin:center center;
  transform:scale(1) translate(0px,0px) perspective( 750px ) rotateY(0deg);
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-duration: 0.5s;
}

.material-card--left
{
  transform:scale(0.9) translate(-150px,0px) rotateY(10deg);
  z-index:1;
}

.material-card--center
{
  transform:scale(1) translate(0px, 0px) rotateY(0deg);
  z-index:3;
}

.material-card--right
{
  transform:scale(0.9) translate(150px,0px) rotateY(-10deg);
  z-index:1;
}

.card-right-link {
  font-size: 15px;
  text-align: right;
  padding-bottom: 50px;
  color: #686871;
}

.card-right-link a {
  text-decoration: underline;
  pointer-events: auto;
  cursor: pointer;
  color: mintcream;
}

.material-card form input {
  vertical-align: center;
  display: block;
}

.material-card form input.form-input {
  padding: 30px;
  margin-bottom: 15px;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid;
  border-color: #3d3d46;
  background-color: #17141d;
  color: mintcream;
}

.material-card form input.form-input:focus {
  outline: none;
}

.btn-submit {
  margin-top: 1em;
  padding: 15px;
  width: 200px;
  color: mintcream;
  text-align: center;
  float: left;
  background-color: #e63f4c;
  border: none;
  border-radius: 0;
  box-shadow: 5px 5px 10px #01010f;
}

.btn-submit:hover {
  box-shadow: 10px 10px 11px #01010f;
  transform: scale(1.01);
  cursor: pointer;
}

.slider-nav-button {
  margin: 5px;
  background-color: $primary;
  cursor: pointer;
  width: 56px;
  height: 56px;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.9);
  border-radius: 999em;
  position: relative;
  text-align: center;
}

.arrow-nav {
  width: 100%;
  height: 100%;
  position: relative;

  $width: 3px;
  $element-size: 50px/2;
  $element-margin: 3px;

  & span,
  &:before,
  &:after {
    height: $element-size;
    width: $width;
    position: absolute;
    content: '';
    background: whitesmoke;
  }

  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }

  @each $direction in 'left', 'right' {
    &.arrow-nav--#{$direction} {
      &:after {
        @if($direction == 'left') {
          top: 24px;
        } @else {
          top: 8px;
        }
      }
      &:before {
        @if($direction == 'left') {
          top: 8px;
        } @else {
          top: 24px;
        }
      }
      &:before,
      &:after {
        #{$direction}: 30%;
      }

      & span {
        width: 0;
        height: 0;
        border-radius: 3px;
        #{$direction}: 12%;
        top: 27px;
      }

      & span,
      &:before,
      &:after {
        transition: all 0.1s 0.05s ease-in;
      }

      &:hover {
        & span {
          width: 40px;
          height: 3px;
          border-radius: 3px;
          #{$direction}: 11%;
          top: 27px;
        }
        &:before {
          transform: rotate(55deg);
        }

        &:after {
          transform: rotate(-55deg);
        }

      }
    }
  }
}
