//@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$primary: rgba(16, 14, 23, 1);

body {
  font-family: 'Nunito', 'sans-serif';
  font-size: 20px;
  color: mintcream;
  background: $primary;
  overflow: hidden;
}

h1 {
  color: mintcream;
  font-weight: bold;
  font-size: 50px;
}

h2 {
  color: mintcream;
  font-weight: bold;
  font-size: 30px;
}

input:active:focus, input:active, input:focus {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out !important;
  -moz-transition: color 9999s ease-out, background-color 9999s ease-out !important;
  transition: color 9999s ease-out, background-color 9999s ease-out !important;
  -webkit-transition-delay: 9999s !important;
  -moz-transition-delay: 9999s !important;
  transition-delay: 9999s !important;
}
